/*html {
	font-family: "Comic Sans MS", cursive, sans-serif;
}
h1 {
	text-align: center;
	font-size: 175%;
}
h3 {
	text-align: center;
	font-size: 125%;
}
p {
 	margin-top: 40px;
}
.content {
 	background: gray;
 	padding-left: 10px;
 	padding-right: 10px;
}  
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.chicken {
 	background: #ff9999;
}
.beef {
 	background: #cc3300;
}
.sushi {
 	background: #ffcc00;
}
/*.col1, .col2, .col3 {
  	padding-right: 10px;
  	padding-left: 10px;
  	box-sizing: border-box;
  	float: left;
} 
*/
/*@media (min-width: 992px) {
	.col1, .col2, .col3 {
	    width: 33.3%;
	} 	
}

@media (min-width: 768px) and (max-width: 991px) {
	.col1, .col2{
	    width: 50%;
	    margin-bottom: 20px;
	} 
}
@media (max-width: 767px) {
	.col1, .col2, .col3{
		width: 100%;
		margin-bottom: 20px;
	}
}*/

*/